;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Jan 13 20:12:45 2009
;; Desktop file format version 206
;; Emacs version 22.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("pay" "factory" "TREE_" "tree_content" "tree_con" "shell_content" "contact" "passover" "content_handler" "'"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/tmp/leads2/admin/affiliates.cgi"
  "affiliates.cgi"
  'cperl-mode
  '(global-auto-revert-mode)
  3601
  '(4531 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "admin"
  'dired-mode
  '(global-auto-revert-mode)
  542
  '(nil nil)
  t
  '("/tmp/leads2/admin/")
  nil)

(desktop-create-buffer 206
  "/home/tbrannon/prg/html-seamstress/lib/HTML/Seamstress.pm"
  "Seamstress.pm"
  'cperl-mode
  '(global-auto-revert-mode)
  661
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/log/httpd/error_log"
  "error_log"
  'fundamental-mode
  '(global-auto-revert-mode)
  154167
  '(151473 t)
  t
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "html-seamstress"
  'dired-mode
  '(global-auto-revert-mode)
  669
  '(1778 t)
  t
  '("/home/tbrannon/prg/html-seamstress/" "/home/tbrannon/prg/html-seamstress/lib/" "/home/tbrannon/prg/html-seamstress/lib/HTML/")
  nil)

(desktop-append-buffer-args 206
  nil
  "lib"
  'dired-mode
  '(global-auto-revert-mode)
  251
  '(nil nil)
  t
  '("/home/tbrannon/prg/html-seamstress/lib/")
  nil)

(desktop-append-buffer-args 206
  nil
  "HTML"
  'dired-mode
  '(global-auto-revert-mode)
  257
  '(nil nil)
  t
  '("/home/tbrannon/prg/html-seamstress/lib/HTML/")
  nil)

(desktop-append-buffer-args 206
  nil
  "html-element-library"
  'dired-mode
  '(global-auto-revert-mode)
  1834
  '(1496 t)
  t
  '("/home/tbrannon/prg/html-element-library/" "/home/tbrannon/prg/html-element-library/lib/" "/home/tbrannon/prg/html-element-library/lib/HTML/" "/home/tbrannon/prg/html-element-library/lib/HTML/Element/")
  nil)

(desktop-append-buffer-args 206
  "/home/tbrannon/emacs/init.el"
  "init.el"
  'emacs-lisp-mode
  '(global-auto-revert-mode)
  1
  '(3680 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-append-buffer-args 206
  nil
  "leads2"
  'dired-mode
  '(global-auto-revert-mode)
  227
  '(nil nil)
  t
  '("/tmp/leads2/")
  nil)

(desktop-append-buffer-args 206
  nil
  "tmp"
  'dired-mode
  '(global-auto-revert-mode)
  405
  '(nil nil)
  t
  '("/tmp/")
  nil)

(desktop-append-buffer-args 206
  "/home/tbrannon/prg/html-element-library/lib/HTML/Element/Library.pm"
  "Library.pm"
  'cperl-mode
  '(global-auto-revert-mode)
  18597
  '(17049 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-append-buffer-args 206
  nil
  "emacs"
  'dired-mode
  '(global-auto-revert-mode)
  1608
  '(nil nil)
  t
  '("/home/tbrannon/emacs/")
  nil)

